<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Smallet.Droid.Smallet.Droid" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
	<application android:label="Smallet.Droid" android:icon="@drawable/Icon"></application>
  <meta-data
     android:name="com.google.android.geo.API_KEY"
     android:value="AIzaSyDKaXMZo44w_CpW6-u-4aG5RSWC8m_vQQg"/>
</manifest>